<%-include('partials/header.ejs') %>


    <body>
        <% if (!sessionUser) { %>
            <form action="/login" method="POST">
                <input name="username" id="username" placeholder="Sign in to post" required />
                <button type="submit">Log In</button>
            </form>
            <% } else { %>
                <p>Welcome, <strong><%= sessionUser %></strong>!</p>
                <% } %>
        <button><a href="/blogs" class="btn btn-primary btn-lg">View Blogs</a></button>

        <h1 class="day">Today's Date: <%=day%></h1>

        <div class="list">
        <ul>
        <%for (let i=0; i<newPost.length;i++) {%>
            <li>
                <%=newPost[i];%>
                <P>- <%=author[i]%></P>
                <p>(<%=day%>)</p>
                <% if (myFile && myFile[i]) { %>
                    <img src="/uploads/<%= myFile[i] %>" alt="Uploaded Image" style="max-width: 100px;" />
                    <%} %>
                    <% } %>
         
            </li>

        </ul>
        
        <form action="/submit" method="POST" enctype="multipart/form-data">
            <fieldset>
                <input type="text" id="author" name="author" placeholder="Enter Your Name (Optional)">
                <textarea id="newPost" name="newPost" rows="4" cols="15" placeholder="Create a Post" required></textarea>
                <input type="file" id="myFile" name="myFile" accept="image/*"/>
                      
        
                <button type="submit">Post</button>
            </fieldset>
        </form>
          
    </div>
    </body>

    <%-include('partials/footer.ejs')%>
